{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Joel
                    <span class="text-primary">Pumphrey</span>
                </h1>
                <div class="subheading mb-5">
                    Idaho Falls, ID 83404 · (662) 401-1933 ·
                    <a href="mailto:jepumphrey01@gmail.com">jepumphrey01@gmail.com</a>
                </div>
                <p class="lead mb-5">Results-driven full stack software developer with over 6 years of experience in designing, developing, and maintaining enterprise web and mobile applications. Proficient in modern frontend and backend technologies, API development, and mobile platforms. Experienced in Agile environments and delivering scalable software solutions.</p>
                <div class="social-icons">
                    <a class="social-icon" target="_blank" href="https://www.linkedin.com/in/joel-pumphrey-7a6b30161"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Full Stack Software Developer</h3>
                        <div class="subheading mb-3">Brad Hall Companies</div>
                        <p>Develop and maintain BHos, a custom-built transportation management, pricing, and order management system, ensuring high system performance and customer satisfaction. Played a key role in modernizing the platform by migrating legacy components to modern full stack technologies (Angular, .NET, SQL), improving reliability and scalability.</p>
                        <ul>
                            <li>Designed and implemented Restful APIs using C# / .NET to support modern frontend frameworks</li>
                            <li>Develop and migrated internal applications from AngularJS to Angular 12-18</li>
                            <li>Implemented data visualization reporting tools by integrating multiple data sources including Framework, LINQ, and SQL Server</li>
                            <li>Collaborated in Agile team development participating in sprint planning, code reviews, and daily stand-ups</li>
                            <li>Communicated with project stakeholders on a regular basis to ensure customer satisfaction</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Feb 2022 - May 2025</span></div>
                </div>
                
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Assistant Activities Director</h3>
                        <div class="subheading mb-3">American Family Association</div>
                        <p>Collaborated with stakeholders, customers, and development team members throughout the development lifecycle including design, development, and implementation to ensure a smooth and successful transition.</p>
                        <ul>
                            <li>Developed and supported iOS and tvOS applications utilizing Swift and Xcode, enabling live radio streaming via API endpoints</li>
                            <li>Maintained and enhanced multiple public-facing websites using Umbraco CMS, C#, .NET, Razor, HTML5, CSS3, and JavaScript</li>
                            <li>Supported data integrations projects, ensuring seamless flow between systems via custom-built APIs and automation tools</li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Aug 2016 - Dec 2021</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Liberty University</h3>
                        <div class="subheading mb-3">Bachelor of Science</div>
                        <div>Computer Science - Web & Mobile Programming</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Jan 2021 - May 2022</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Itawamba Community College</h3>
                        <div class="subheading mb-3">Associate of Applied Science</div>
                        <div>Computer Science - Computer Programming Texhnology</div>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">August 2016 - Dec 2021</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Programming Languages & Tools</div>
                <ul class="list-inline dev-icons">
                    <li class=""><i class="fa-solid fa-code"></i> C# / .NET</li>
                    <li class=""><i class="fab fa-angular"></i> Angular (12-18)</li>
                    <li class=""><i class="fa-solid fa-database"></i> SQL</li>
                    <li class=""><i class="fa-solid fa-mobile"></i> Mobile App Development</i></li>
                    <li class=""><i class="fa-solid fa-code-branch"></i> Agile Development</i></li>
                    <li class=""><i class="fab fa-html5"></i> HTML5</li>
                    <li class=""><i class="fab fa-css3-alt"></i> CSS3</li>
                    <li class=""><i class="fab fa-less"></i> less</li>
                    <li class=""><i class="fa-brands fa-python"></i> Python</li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Mobile-First, Responsive Design
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Browser Testing & Debugging
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Cross Functional Teams
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Agile Development & Scrum
                    </li>
                </ul>
            </div>
        </section>
        <hr class="m-0" />
    </div>
{% endblock %}